/*-----MEDIAQUERIES------*/
/*------PAGE D'ACCUEIL-----*/
@media screen and (max-width:800px) {

    body {
        background-color: grey;
    }

    /*----METTRE LE LOGIN A GAUCHE---*/
    .front .connect {
        text-align: left;

    }

    .logo img {
        margin: 0 auto;
    }

    /*---EFFACER LE MENU---*/
    .menuprincipal ul {
        display: none;
    }

    .menuprincipal {
        position: relative;
    }

    .menuprincipal ul li {
        display: block;
        margin-left: 100px;
        margin-bottom: 20px;

    }

    /*----RETRECIR LE BURGER---*/
    .menuprincipal .menumobile img {
        width: 40px;
    }

    /*----CLIQUE SUR LE BURGER---*/
    .menuprincipal .menumobile img:hover {
        cursor: pointer;
    }

    /*---FAIT APPARAITRE LE BURGER EN RESPONSIVE---*/
    .menuprincipal .menumobile {
        display: block;
    }


    /*----FAIT APPARAITRE LE MENU EN CLIQUANT SUR LE BURGER---*/
    .menuprincipal [type="checkbox"]:checked+label+ul {
        display: block;
    }

    .slider-wrapper {
        display: none;
    }

    .gastronomie {
        /*----MET UN ECART ENTRE LA SECTION ET LE FOOTER----*/
        margin-bottom: 40px;
        border: none;




    }

    /*----PREND 100% DE LA LONGUEUR ET CENTRE LA SECTION EN RESPONSIVE----*/
    .gastronomie .produits {
        width: 100%;



    }

    .gastronomie .produits a img {

        /*----L'IMAGE PREND 50% DE LA LONGUEUR EN RESPONSIVE ET LA CENTRE---*/
        width: 50%;
    }

    .gastronomie .produits h2 {
        /*-----CENTRE LE H2 SOUS LA PHOTO----*/
        display: flex;
        justify-content: center;
        margin: 0;
    }

    /*----MET UNE MARGE ENTRE LE TEXTE ET L'IMAGE---*/
    .gastronomie .produits p {
        margin-bottom: 80px;
    }

    .bas {
        display: flex;
        flex-wrap: wrap;
    }

    .bas .liens {
        display: none;
    }

    .videos {
        display: none;
    }

    .reseaux {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 150px;


    }



    /*-------CONTACT--------*/


    .contact fieldset #message {
        width: 98%;
    }


    .access iframe {
        width: 100%;
    }




}